h1{
  text-align: center;
  font-family: ringbearer, serif;
  font-size: 50px;
  margin-top: 30px;
  color: darkgoldenrod;
}

img {
  margin: auto;
  display:flex;
}

.chart {
  background-color: #ccb2a2;
}

.mat-card {
  background-color: #ccb2a2;
  margin-bottom: 20px;
}

.row {
  margin-top: 20px;
}

.buttonbar{
  display: flex;
  justify-content: space-between;
}

mat-card-title {
  font-family: aniron, serif !important;
}

mat-card-content {
  justify-content: space-between;
}
