/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: rgb(23, 27, 38)
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
  font-family: aniron, serif;
}

@font-face {
  font-family: 'aniron';
  src: url('assets/fonts/aniron/anirb___.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ringbearer';
  src: url('assets/fonts/ringbearer/RINGM___.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
