.mat-card {
  background-color: #ccb2a2;
}

.modal-header {
  background-color: #293143;
  display: inline-block;
}

.modal-body {
  background-color: #171b26;
}

.modal-footer {
  background-color: #293143;
  justify-content: space-between;
}

.modal-title {
  font-family: ringbearer, serif;
  color: darkgoldenrod;
}

mat-card-title {
  font-family: aniron, serif !important;
}
mat-card-subtitle {
  font-family: aniron, serif !important;
  margin-bottom: 10px;
}

.content {
  padding: 16px;
  margin-right: 20%;
  margin-left: 20%;
}

.desc {
  font-family: Bahnschrift, serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 1000px;
}

#addButton {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.input-group-text {
  width: 150px;
}

#deleteButton {
  color: red;
}
mat-card-actions {
  justify-content: space-between;
}

.modal-header{
  text-align: center;
}

#cardImg {
  max-height: 250px;
}
